.h1-contacto {
    text-align: $text-aling-primario;
    font-size: 45px;
    color: $color-primario;
    padding-top: 20px;
}

.h2-contacto {
    text-align: $text-aling-primario;
    font-size: 30px;
    color: $color-secundario;
}

.parrafo-contacto {
    text-align: $text-aling-primario;
    color: $color-tercero;
}

