.h2-sucursales {
    text-align: $text-aling-primario;
    font-size: 40px;
    color: $color-primario;
}

.parrafo-sucursales {
    text-align: $text-aling-primario;
    font-size: 17px;
    color:$color-secundario;
    padding-left: 7px;
    padding-right: 7px;
}

.h3-sucusales {
    text-align: $text-aling-primario;
    color: $color-secundario;
}