.btn-outline-success {
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 17px;
}

.boton-sucursales {
    height: 40px;
    width: 100px;
    background-color: transparent;
    border: solid 1px #198754;
    color: #198754;
    border-radius: 8px;
}