.footer {
    text-align: $text-aling-primario;
}

.parrafo-footer{
    color:$color-primario ;
    padding-top: 15px;
    font-family: $font-family-primario;
    font-size: 20px;
}

.h4-footer{
    color:$color-secundario;
    font-family: $font-family-primario;
    font-size: 10px;
    text-align: end;
}

.text-footer{
    color: $color-tercero;
    font-family: $font-family-primario;
}

