.navbar {
    background-image: url(../img/dark_wall.png);
    box-shadow: 20px 20px 8px black;
}

.barra-nav {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    color: aliceblue;
    text-decoration: none;
    padding: 15px;

}

.nav-img {
    background-color: rgba(0, 0, 0, 0.034);
    border-radius: 30px;
}